{{#items}}
<div class="news-list">
  <a href="{{link}}" class="media media-link" {{#shouldShowExternalIcon}}target="_blank"{{/shouldShowExternalIcon}}>
    <p class="media-date">{{#formatDate}}EEEE, MMMM d, yyyy - hh:MM{{/formatDate}}</p>
    <h4 class="media-heading">{{title}}</h4>
    <p class="media-text">{{summary}}</p>
    {{#shouldShowRssOrigin}}
    <span class="media-origin-link">Origin: {{link}}</span>
    {{/shouldShowRssOrigin}}
    {{#shouldShowExternalIcon}}
    <i class="fa fa-external-link brand-primary media-external-icon" aria-hidden="true"></i>
    {{/shouldShowExternalIcon}}
  </a>
</div>
{{/items}}
