/*
 * Copyright (c) 2018 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

// Bootstrap: Button component override and extention

/* Custom buttons */
.btn {
  &:visited, &:focus {
    color:@white;
  }
}

.btn-default {
  &:visited {
    color:#333;
  }
}

.btn-white {
  background: #fff;
  color: #0b0a0f;
  &:hover {
    background: darken(#fff, 15%);
    color:#0b0a0f;
  }
  &:visited {
    color:#0b0a0f;
  }
}

.btn-huge {
  font-size: 1.1em;
  padding: 10px 35px;
  i {
    margin-right: 2px
  }
}

.btn-transparent {
  &:visited , &:link {
    background: @btn-transparent-background;
    border-color: @btn-transparent-border-color;
    color: @btn-transparent-color;
    font-size: @btn-transparent-font-size;
    padding: @btn-transparent-padding;
  }

  &:hover , &:active {
    color: @btn-transparent-color-hover;
    border-color: @btn-transparent-color-hover-border-color;
    background: @btn-transparent-color-hover-background;
  }

  .caret {
    margin-left: 6px;
  }
}

// Donation Button
.donation-button {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 3.5em;
  padding-right: 3.5em;
}

// Simple button
.btn-simple {
  background: transparent;
  box-shadow:0px 0px 0px 3px #fff inset;
  color: #fff;
  &:visited {
    color:#fff;
  }
  &:hover , &:active {
    background: transparent;
    color:darken(#fff, 15%);
    box-shadow:0px 0px 0px 3px darken(#fff, 15%) inset;
  }
}

// Used on accounts.eclispe.org/donate/checkout
.btn-simple-white{
  text-transform: none;
  font-weight:normal;
  font-size:13px;
  border:0;
  border-radius:0;
}

.btn-smaller, .btn-group-smaller>.btn {
    padding: 3px 8px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 2px;
}

.btn-full-width{
  width:100%;
}

.btn-border-radius-0 {
  border-radius:0;
}

.btn-white-purple-border {
  border:2px solid #2d2252;
  color:#2d2252;
  text-transform: uppercase;
  background:#fff;
  text-align:center;
  padding:10px 15px;
  font-weight:normal;
  &:visited {
    color:#2d2252;
  }
  &:hover {
    text-decoration:none;
    background:#2d2252;
    color:  #fff;
  }
}

.btn-purple {
  color:#fff;
  background:#2d2252;
  border-color:#2d2252;
  &:visited {
    color:#fff;
  }
  &:hover {
    background:darken(#2d2252, 15%);
    border-color:#2d2252;
    color:  #fff;
  }
}

.btn-secondary {
  .button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
}

.btn-grey {
  .button-variant(#fff; darken(#f5f5f5, 35%); darken(#f5f5f5, 35%));
}

.btn-wide {
    min-width: calc(100% - 20px);
}

.btn.btn-wrap {
  white-space: initial;
}
