{{#item}}
<li class="members-item flex-center flex-column">
  <a target="_blank" href="{{urlLinkToLogo}}" class="flex-center">
    <img alt="{{name}}" class="img-responsive" src="{{logos.web}}">
  </a>
  {{#showLevelUnderLogo}}
    <span>
      {{showLevelUnderLogo}}
    </span>
  {{/showLevelUnderLogo}}
</li>
{{/item}}
