
.featured-projects-item {
    background-color:@white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    padding: 20px;
    margin-bottom: 30px;
    hr{
        border-top: 1px solid @brand-primary;
    }
    .downloadUrl {
        color:@brand-primary;
        &:hover {
            color:darken(@brand-primary, 15%);
        }
    }
}

.featured-projects-item-category {
    background-color:@brand-primary;
    min-width:200px;
    color:@white;
    text-transform: uppercase;
    text-align:center;
    padding:2px;
    float: right;
    position: relative;
    right: -20px;
    font-size: 11px;
}

.featured-projects-item-heading {
    font-weight:bold;
    margin-bottom: 0;
}

.featured-projects-item-img {
    max-width: 130px;
    max-height: 40px;
}

.featured-projects-item-content {
    padding-top:30px;
    .link {
        display: block;
        height: 40px;
        margin: 40px 0 20px;
    }
}

.eclipsefdn-project-list-filters .btn {
    margin: 10px 10px 0 0;
    text-transform: capitalize;
    &.active:focus, &:focus {
        outline: none;
        color: #333;
    }
}
