/*
 * Copyright (c) 2018 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Eric Poirier <eric.poirier@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.eclipsefdn-video {
  background-color:#000;
  width:100%;
  height: 100%;
  display:block;
  position:relative;
  &:before {
    content:"";
    display:block;
    background-image:url("//www.eclipse.org/eclipse.org-common/themes/solstice/public/images/vendor/eclipsefdn-solstice-components/youtube/yt_icon_red.png");
    background-size:20%;
    background-repeat:no-repeat;
    background-position:center center;
    height:100%;
    width:100%;
  }
  img {
    width: 100%;
  }
}

.eclipsefdn-video-with-js {
  &:before {
    position:absolute;
  }
}