{{#items}}
  <h2>{{title}}</h2>
  {{#isFetching}}
    <div class="margin-left-30">
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-20"></i>
      <span class="sr-only">Loading...</span>
    </div>
  {{/isFetching}}
  {{^isFetching}}
    <ul>
      {{#data}}
        <li>
          <a href="{{resLink.link}}">{{title}}</a>
        </li>
      {{/data}}
    </ul>
  {{/isFetching}}
{{/items}}
